---
import TitleSection from "../TitleSection.astro";
---

<section class="relative w-screen min-h-screen">
    <div class="absolute inset-0 bg-cover bg-center bg-no-repeat" style="background-image: url('/projects/cristal-inn.png');"></div>
    <div class="absolute inset-0 bg-black/75"></div>

    <div class="relative z-10 px-5 pt-5">
        <TitleSection title="Servicios" mas_color="first" subtitle="explorá lo que construimos" subtitle_color="white"/>
    </div>
</section>