---
import Menu from "./icons/Menu.astro";
---

<nav class="flex justify-between items-center px-5 font-poppins absolute pt-10 z-20 w-full">
    <a href="#" class="text-white">Gonzalez</a>
    <Menu size={32} color="#ffffff"/>
</nav>